@model WMS.Models.Subcategory.SubcategoryModel

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script type="text/javascript">
        var GetRecords = "@Url.Action("GetRecords", "Category")";
        var GetRowDetails = "@Url.Action("GetRowDetails", "Category")"
        var CreateUpdate = "@Url.Action("CreateUpdate", "Category")"
        var GetDelete = "@Url.Action("GetDelete", "Category")"
    </script>

    @Scripts.Render("~/bundles/Category-js");
}

@{
    if (TempData["message"] != null)
    {
        if (Convert.ToString(TempData["message"]) == "Success!")
        {
            <div class="alert alert-success text-center" role="alert">@TempData["message"]</div>
        }
        else
        {
            <div class="alert alert-danger text-center" role="alert">@TempData["message"]</div>
        }
    }
}

<div class="card ">
    <div class="card-header">SUBCATEGORY MANAGEMENT</div>
    <div class="card-body">
        <button type="button" class="btn btn-primary small" data-toggle="modal" data-target="#mdlCreateUpdate"><i class="fa fa-pencil"></i> New</button>
    </div>
    <div class="card ml-2 mr-2 mb-2 bg-light">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover small" id="tblSubcategory"></table>
            </div>
        </div>
    </div>
</div>

@*modal Update Create*@
<div class="modal fade" id="mdlCreateUpdate" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subcategory</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateUpdate", "Subcategory", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.SubCategoryID)
                    @Html.HiddenFor(m => m.mode)
                    <div class="form-group row">
                        @Html.LabelFor(m => m.CategoryID, new { @class = "col-4 col-form-label-sm" })
                        <div class="col-8">
                            @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewData["CategoryList"], optionLabel: "Choose a Category", new { @class = "form-control form-control-sm col-12", @id = "CategoryID"})
                            @Html.ValidationMessageFor(m => m.CategoryID)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.SubCategoryName, new { @class = "col-4 col-form-label-sm" })
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.SubCategoryName, new { @class = "form-control form-control-sm col-12", @id = "SubCategoryName", @placeholder = "Subcategory Name" })
                            @Html.ValidationMessageFor(m => m.SubCategoryName)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.SubCategoryDescription, new { @class = "col-4 col-form-label-sm" })
                        <div class="col-8">
                            @Html.TextAreaFor(m => m.SubCategoryDescription, new { @class = "form-control form-control-sm col-12", @id = "SubCategoryDescription", @placeholder = "Subcategory Description" })
                            @Html.ValidationMessageFor(m => m.SubCategoryDescription)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="Submit">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*modal to DELETE*@
<div id="mdlDelete" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Category", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.SubCategoryID, new { @id = "CatID" })
                    <p>Do you really want to delete this row? This process cannot be undone.</p>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" id="DeleteConfirmed">
                    </div>
                }
            </div>

        </div>
    </div>
</div>

