<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Management System - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/DataTables-css")
</head>
<body class="padding">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top padding">
        <ul class="navbar-nav">
            <li class="nav-item active padding">
                <a class="nav-link" href="~/Inventory/Index"><b>Warehouse Management System</b><p class="text-center padding">MEGAWORLD CORPORATION</p></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Inventory", "Index", "Inventory", null, new { @class = "nav-link active" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Warehouse", "Index", "Warehouse", null, new { @class = "nav-link active" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Category", "Index", "Category", null, new { @class = "nav-link active" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Generate Report", "Index", "GenerateReport", null, new { @class = "nav-link active" })
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="dropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top:80px;">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - SYSTEMS MANAGEMENT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables-js")
    @RenderSection("scripts", required: false)
</body>
</html>
